

body{


}

.entete{
  width: 100%;
  //height: 200px;
  img{
    width: 100%;
    //height: 80%;
  }
}
.photo{
  background-size: cover;
  background-repeat: no-repeat;

}
.page{
  //width: 100%;
  //height: 100px;
  margin: auto;
  background-color: $bgcColor;
}
.page h1{
  color: $titrePage;
}
h1{
  text-align: center;
  line-height: 100px;

}

//div logo

.logo{
  color: $TexteCouleur;
  text-align: center;
  .titreLogo{
    font-size: 3em;
  }
  .sousTitre{
    font-size: 2em;
  }
  img{
    width: 150px;
  }
}

//picto
.accueil{
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: row;
}
.picto{
  width: 300px;


  text-align: center;
  img{
    width:60%;
  }
}
.coop{
  color: $coulCoop;

}
.installation{
  color:$coulInstall;
}
.production{
  color:$coulProd;
}
.capital{
  color:$coulCapital;
}


.articlePresentation{
  text-align: center;
  color: $couleurArticlePrincipal;
}

//articles
.article{

  text-align: center;
}
.photoArticle{
  width: 100%;
  text-align: center;
  img{
    width: 100%;
  }
}
.actualite{
  background-color: $coActualite;
  color: white;
}
.demarche{
  background-color: $coDemarche;
  color: $couleurArticlePrincipal;
}
.installation{
  color: $couleurArticlePrincipal;
}
.temoignage{
  background-color: $coTemoignage;
  color: $couleurArticlePrincipal;
}
.point{
  background-image: url("../svg/points.svg");
  fill: currentColor;
  background-blend-mode: lighten;
}

.footer{
  background-color: $coulFooter;
}