//background
$bgcColor: #ffa625;


//titre page
$titrePage: #c2c2c2;

//classe logo
$TexteCouleur:#fcb731;

//couleur menu
$bgcMenu:#a7cb18;
$colorMenuText:white;


//couleur picto

$coulCoop: #c3a575;
$coulInstall:#b3d143;
$coulProd:#fcb731;
$coulCapital:#00afec;

//article principal

$couleurArticlePrincipal: #6d6f71;

//articles
$coActualite: #fcb731;
$coDemarche:#b3d143;
$coTemoignage:#e8ddca;


//footer
$coulFooter:#6d6f71;


